.session {
  display: flex;
  align-items: center;
  height: 42px;
}

.title {
  text-align: center;
  margin-bottom: 3px;
  font-size: 14px;
  text-transform: uppercase;
}

span {
  margin: 1px;
}

.duration {
  display: flex;
  align-items: center;
  font-size: 24px;
  background-color: var(--primary-color);
  color: white;
  padding: 0 13px;
  height: 46px;
}

.up,
.down {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 13px;
}

.up {
  padding-right: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.down {
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.invert {
  transform: rotate(180deg);
}
