:root {
  --primary-color: darkcyan;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#sessions {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
