.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

#sessions {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
